/* 

*{
    margin: 0;
    padding: 0;
}


h1{
    color:rgba(0,0,0,.55);
    font-family: "Rubik", sans-serif;
    font-weight: 400;

}

.navbar-toggler-icon{
    background-color: black;
    display: block;
    width: 30px;
    height: 3px;
}

.icon-middle{
    margin: 6px;
}

.alert-success{
    background-color: #262262;
}

p, li, h3, h4 {
    color: #040E27;
}

.jmb{
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.header-atas{
    height: 100px;
}

.header-atas .navbar ul li a{
    color: #272727;
}

.btn-default-kontak{
    background-color: #262262;
    color: #fff;
}


.navbar .underline{
    width: 100%;
    height: 2px;
    background-color: #262262;

}

.ac{
    background-color: plum;
}
.navbar .nav-item{
    color: white;
}



.header-atas .left{
    margin-top: 100px;
}

.header-atas h2{
    color: #fff;
}
.header-atas .btn-default{
    background-color: white;
}

.navbar ul li a{
    color: #040E27;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
}

.jmb .title{
    color: white;
    margin-top: 10px;
}


.bg-default .nav-item .nav-link{
    margin-left: 13px;
    font-size: 1.2em;
}

.header-title .p{
    width: 10%;
    border: 2px solid #272727;
}

h1, h2, h5{
    color:#272727;
    font-family: "Rubik", sans-serif;

}


.btn-default{
    border: 1px solid rgb(107, 103, 103);
    border-radius: 13px;
    align-self: center;
    font-size: medium;
    font-family: "Rubik", sans-serif;
    color: rgb(117, 112, 112);
}

.btn-detail-paket{
    background-color: #FF4A52;
    color: #fff;
    border-radius: 30px;
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    transition: 0.3s;
}

.btn-detail-paket:hover{
    background-color: #007bff;
    color: #fff;
    border-radius: 30px;
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    transition: 0.3s;
}

.kontak{
    background-color: #fff;
    color: 272727;
    width: 100%;
    height: 500px;
    font-family: "Rubik", sans-serif;
}


.card{
    color: #777777;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}


.elementor{
    background-image: url(https://c.pxhere.com/photos/ab/c9/black_blue_branches_dark_dusk_evening_glow_horizon-1260004.jpg!d);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #AAB1B7;
    padding: 30px;

}


.elementor h2{
    color: #fff;
}

.elementor .elementor-icon{
    font-size: 35px;
    padding: 14px;
    text-align: center;
}

.elementor .fas{
    border: 2px solid #fff;
    padding: 25px;
    color: #fff;
    border-radius: 50%;
}

.elementor .icon-title{
    color: #fff;
    text-align: center;
    width: 100;
}

.elementor .icon-desc{
    color: #AAB1B7;
    text-align: center;
    padding: 0px;
    width: 70%;
    margin: auto;
}

.footer{
    margin-top: 50px;
    padding-top: 70px;
    width: 100%;
    height: auto;
    background-color: #040E27;
}

.footer p{
    color: #AAB1B7;
    line-height: 26PX;
    font-size: 14px;
    font-weight: 400;
    font:400;
    text-transform: capitalize ;
}

.paket-tour{
    height: 400px;
    width: 550px;
    background-image: url('../img/home/paket-tour.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:50px;
    margin: auto;
    border: 2px solid rgb(151, 137, 137);
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(17,26,104,.15);
}

.paket-transport{
    height: 400px;
    width: 550px;
    background-image: url('../img/home/transportasi.jpg');
    background-position: center;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border-radius: 8px;
    border: 2px solid rgb(151, 137, 137);
    box-shadow: 0 6px 20px rgba(17,26,104,.15);

}

.paket .header-paket{
    height: 50px;
    color: rgb(90, 85, 85);
    text-align: center;
}

.paket .btn-default{
    background-color: #262262;
    border: none;
    border-radius: 5px;
    color: #fff;
    position: relative;
    top: 230px;
    left: 180px;
    width: 200px;
}

.card-blog{
    box-shadow: rgb(151, 137, 137);
}


.wa{
    left: 13px;
    bottom: 30px;
    background-size: 100px;
}

.garis{
    width: 200px;
    height: 3px;
    background-color: #f7941e;
}

.card .thumb{
    background-color: green !important;
} */