

*{
    margin: 0;
    padding: 0;
}

p{
    color: #525252;
    font-size: 16px;
    line-height: 26px;
}

h1,h2,h3{
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-bottom: 18px;
}

.title-paket{
    font-size: 36px;
    font-weight: 600;
    
}

.form-user{
    background-color: #040E27;
    padding: 50px 0px
}

form{
    padding: 0;
    margin: 0;
    display: inline !important;
}

.form-user h3{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}


.form-user .search-wrap{
    display: flex;
}


.form-user .search-wrap .input_field{
    width: 220px;
}

.form-user .search-wrap .typ{
    background-color: transparent;
    border: 1px solid #363E52;
    border-radius: 5px;
    width: 90%;
    height: 50px;
    padding-left: 15px;
    color: #FFFFFF;
}

.form-user .typ-btn{
    background-color: #FF4A52 !important;
    width: 100%;
}

h1{
    color:rgba(0,0,0,.55);
    font-family: "Rubik", sans-serif;
    font-weight: 400;

}

.navbar-toggler-icon{
    /* background-color: black; */
    display: block;
    width: 30px;
    height: 3px;

}

.icon-middle{
    margin: 6px;
}

.alert-success{
    background-color: #262262;
    
}

.jmb{
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.header-atas{
    /* background-color: #0160D6; */
    height: 100px;
}

.header-atas .navbar ul li a{
    color: #525252 !important;
}

.btn-default-kontak{
    background-color: #262262;
    color: #fff;
}


.header-atas .navbar ul li a:hover {
    border-bottom: 4px solid #525252;
    transition: all ease-in-out .2s;
}



.navbar .underline{
    height: 3px;
    /* background-color: #262262;    */
    /* margin-left: 6px;             */

}

.ac{
    background-color: plum;
}
.navbar .nav-item{
    color: white;
}



.header-atas .left{
    margin-top: 100px;
}

.header-atas h2{
    color: #fff;
}
.header-atas .btn-default{
    background-color: white;
}

.navbar ul li a{
    color: #040E27;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
}

.jmb .title{
    color: white;
    margin-top: 10px;
}

.bg-default .nav-item .nav-link{
    margin-left: 13px;
    font-size: 1.2em;
}

.header-title .p{
    width: 10%;
    border: 2px solid #272727;
}

h1, h2, h5{
    color:#272727;
    font-family: "Rubik", sans-serif;

}


.btn-default{
    border: 1px solid rgb(107, 103, 103);
    border-radius: 13px;
    align-self: center;
    font-size: medium;
    font-family: "Rubik", sans-serif;
    color: rgb(117, 112, 112);
}

.btn-detail-paket{
    /* background-color: rgb(233, 156, 14); */
    background-color: #FF4A52;
    color: #fff;
    padding: 8px 35px;
    font-weight: 400;
    line-height: 25px;
    transition: 0.3s;
}

.btn-detail-paket:hover{
    color: #fff;
    padding: 10px 40px;
    font-weight: 400;
    line-height: 25px;
    transition: 0.3s;
}


/* share_media */
.share-media .sharethis{   
    display: flex;   
}


.share-media .sharethis .btn{   
    width: 55px;
    height: 35px;
    /* border-radius: 20px; */
}
/* enddetail */

.kontak{
    background-color: #fff;
    color: #272727;
    width: 100%;
    height: 500px;
    font-family: "Rubik", sans-serif;
}

/* .active{

} */

#newletter{
    /* background-image: url('../../media/newsletter.png.webp'); */
    background-color: #101a33;
    background-size: cover;
    padding: 67px 0;
}

#newletter .title{
    color: #ffff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 11px;
    line-height: 1.2em;
}

#newletter .desc{
    color: #AAB1B7 !important;
    font-size: 16px;
    line-height: 28px;
}

#newletter .mail-form .email{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 16px;
}

#newletter .mail-form .btn-email{
    background: #FF4A52;
    outline: none;
    width: 60%;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    border-radius: 5px;
    margin-left: -10px;
}   

.card{
    color: #777777;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}


.card a{
    position: relative;
}

.card a .price{
    position: absolute;
    top: 20px;
    left: 20px;
    background: #1EC6B6;
    padding: 7px 18px 4px 18px;
    border-radius: 18px;
    color: #fff;
    border-color: transparent;
    font-size: 16px;
    transition: 0.3s;
}


.elementor{
    /* background-color: #040E27; */
    background-color: #101a33;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: cover;
    color: #AAB1B7;
    padding: 30px;

}


.elementor h2{
    color: #fff !important;
}

.elementor .elementor-icon{
    font-size: 35px;
    padding: 14px;
    text-align: center;
}

.elementor .fas{
    border: 2px solid #fff;
    padding: 25px;
    color: #fff;
    border-radius: 50%;
}

.elementor .icon-title{
    color: #fff;
    text-align: center;
    width: 100;
}

.elementor .icon-desc{
    color: #AAB1B7;
    text-align: center;
    padding: 0px;
    width: 70%;
    margin: auto;
}

#testy{
    background-color: #f7fafd;
    margin-top: 7em;
    padding: 60px 20px;
}


#testy .thumb img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#testy .coment{
    width: 700px;
    text-align: center;
    margin: 0 auto;
    color: #040E27;
    font-size: 18px;
}

#testy .user h4{
    color: #7A838B;
    font-size: 16px;
    font-weight: 400;
}


/* endTestimony */
.footer{
    margin-top: 50px;
    padding-top: 70px;
    width: 100%;
    height: auto;
    background-color: #040E27;
}   

.footer p{
    color: #AAB1B7 !important;
    line-height: 26PX;
    font-size: 14px;
    font-weight: 400;
    font:400;
    text-transform: capitalize ;
}

.paket-tour{
    height: 400px;
    width: 550px;
    background-image: url('../img/home/paket-tour.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:50px;
    margin: auto;
    border: 2px solid rgb(151, 137, 137);
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(17,26,104,.15);
}

.paket-transport{
    height: 400px;
    width: 550px;
    background-image: url('../img/home/transportasi.jpg');
    background-position: center;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border-radius: 8px;
    border: 2px solid rgb(151, 137, 137);
    box-shadow: 0 6px 20px rgba(17,26,104,.15);

}


.paket .header-paket{
    height: 50px;
    color: rgb(90, 85, 85);
    text-align: center;
}

.paket .btn-default{
    background-color: #262262;
    border: none;
    border-radius: 5px;
    color: #fff;
    position: relative;
    top: 230px;
    left: 180px;
    width: 200px;
}

.card-blog{
    box-shadow: rgb(151, 137, 137);
}


.wa{
    left: 13px;
    bottom: 30px;
    background-size: 100px;
}


.border-dark{
    border-color: none !important;
}

.line{
    width: 100px;
    height: 2px;
    /* background-color:  #FF4A52; */
    background-color:  #1e273d;
    }


/* MOBILE */

/* @media only screen and (max-width: 600px) {
    
    
} */


@media (max-width: 768px)
{
    .navbar-collapse{
        background-color: #fff;
        z-index: 999;
    }
    
    .form-user .search-wrap {
        display: block !important;
    }

    .form-user .search-wrap .typ {
        width: 100%;
        /* margin-top: 10px; */
    }

    /* newletter */
    #newletter .mail-form .btn-danger {   
        margin-right: -22px;
    }

    #testy .coment{
        width: 100%;
        font-size: 16px;
    }
    
    
}


#kontak .btn-default-kontak{
    background-color: #FF4A52;
    color: #fff;
    padding: 5px 20px !important;
    font-weight: 400;
    line-height: 25px;
    transition: 0.3s;
    
}

/* phone */
@media only screen and (max-width: 600px) {
    

    .form-user .typ-btn{
        background-color: #FF4A52 !important;
        width: 100%;
        margin-top: 10px;
    }

    #newletter .mail-form .btn-email {
        background: #FF4A52;
        outline: none;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        height: 50px;
        border-radius: 5px;
        margin-left: 1px;
        margin-top: 10px;
    }

    #kontak .title-map{
        margin-top: 30px;
        
    }
    .btn-detail-paket {
        background-color: #FF4A52;
        color: #fff;
        padding: 5px 20px !important;
        font-weight: 400;
        line-height: 25px;
        transition: 0.3s;

    }
    .footer .row{
        text-align: center;
    }


/* tablet */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #newletter .mail-form .btn-email{
        background: #FF4A52;
        outline: none;
        width: 100% !important;
        font-size: 16px;
        font-weight: 500;
        height: 50px;
        border-radius: 5px;
        margin:  0 auto;
        margin-top: 10px;
    }   


}