<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Shaka_tour" property="og:description" content="Salah satu agen wisata terpercaya yang ada di pulau lombok, yang dapat memudahkan perjalanan wisata anda dengan keluarga, disini kami hadir untuk anda">
    <meta name="shaka_tour" content="shaka tour lombok">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logoku.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      .navbar-toggler-icon{
      background-color: #58566e;
      display: block;
      width: 30px;
      height: 3px;
    }
    .navbar-toggler-icon:active{  
      border: none;
    }

    .icon-middle{
        margin: 6px;
    }
    </style>
    <title>{{title}}</title>
  </head>
  <body>
    {% include 'navbar.html' %}



    <!-- kontens? -->
    {% block content %}


    {% endblock content %}


    <a href="https://api.whatsapp.com/send?phone=+6287860371458&text=Hii%20kak%2C%20minta%20info%20untuk%20paket%20wisatanya%20dong%20!!!">

      <div class="wa" style="position: fixed;">
        <img src="{% static 'img/whatsapp.svg' %}" width="60" alt="">
      </div>
    </a>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <img class="mb-4" src="{% static 'img/logo_footer.png' %}" width="150" alt="">
            <!-- <p>&copy; 2021 Shaka Travel Lombok</p> -->
            <p style="margin-top: 10px;">Shaka tour</p>
            <p>Alamat : jln.Tgh Ibrahim Khalidi</p>
            <p>Kediri, NTB, Indonesia</p>
            <p>WA : +6287860371458</p>
            <p>Email : shakatour2021@gmail.com</p>
          </div>
          <div class="col-12 col-md-4 mt-5">
            <h3 class="mb-5" style="color: white;">Perusahaan</h3>
            <a style="text-decoration: none;" href=""><p>Tentang</p></a>
            <a style="text-decoration: none;" href=""><p>Galeri</p></a>
            <a style="text-decoration: none;" href=""><p>Kontak</p></a>
          </div>
          <div class="col-12 col-md-4 mt-5">
            <h3 class="mb-5" style="color: white;">Destinasi populer</h3>
            <a style="text-decoration: none;" href="https://id.wikipedia.org/wiki/Pantai_Kuta,_Lombok"><p>Pantai kuta mandalika</p></a>
            <a style="text-decoration: none;" href="https://id.wikipedia.org/wiki/Sirkuit_Internasional_Mandalika"><p>Sirkuit mandalika</p></a>
            <a style="text-decoration: none;" href="https://id.wikipedia.org/wiki/Kepulauan_Gili#:~:text=Kepulauan%20Gili%20atau%20Tiga%20Gili,destinasi%20wisata%20populer%20bagi%20wisatawan."><p>3 gili</p></a>
          </div>
          <hr style="color: wheat;">
          <p class="text-center">Copyright &copy; 2020 All Right Reserved, Shaka tour</p>
        </div>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}

      {% for message in messages %}
          <script>
            Swal.fire(
              '{{message}}',
            )
          </script>
      {% endfor %}

     {% endif %}


     <script type="text/javascript">
      function Angkasaja(evt) {
      var charCode = (evt.which) ? evt.which : event.keyCode
      if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
      return true;
      }
      
      </script>

      <script type="text/javascript">
        window.onload=function(){//from ww  w . j  a  va2s. c  o  m
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("setTodaysDate")[0].setAttribute('min', today);
        }

      </script> 

      <script src="https://kit.fontawesome.com/eb5100ca45.js" crossorigin="anonymous"></script>


  </body>
</html>