{% extends 'base.html' %}
{% load social_share %}
{% load static %}

{% block content %}

<img src="{{paket.poto.url}}" class="img-fluid" alt="..." style="height: 400px; width: 100%;">
<div class="container mb-5">
    <div class="card-body p-4">
      <div class="row justify-content-center">
        <div class="col-md-9 col-ld-8">
            <h3 class="card-title">Paket Tour {{paket.nama_paket}}</h3>

            <!-- form-share -->
            <div class="share-media ">
                <div class="sharethis">
                    <div class="sh fb-sh"> 
                      <span style="float:left;" class="btn btn-primary">
                        {% post_to_facebook object_or_url '<i class="fa-brands fa-facebook-f" style="color: #fff;"></i>' %}
                      </span>
                    </div>  
                    <div class="sh tw-sh">
                      <span style="float:left;margin-left:10px;" class="btn btn-info"> 
                        {% post_to_twitter "New  Post: {{detail.title}}. Check it out!" object_or_url '<i class="fa-brands fa-twitter" style="color: #fff;"></i>' %}
                      </span>
                      
                    </div>

                    <div class="sh wa-sh">
                      <span style="float:left;margin-left:10px;" class="nav-item btn btn-success">{% post_to_whatsapp object_or_url '<i class="fa-brands fa-square-whatsapp" style="color: #fff;"></i>' %}
                      </span>
                    </div>
                    <div class="sh g-sh">
                      <span style="float:left;margin-left:10px;" class="btn btn-secondary">{% post_to_gplus object_or_url '<i class="fa-brands fa-google-plus-g" style="color: #fff;"></i>' %}
                      </span>
                    </div>
                   
                </div>
            </div><br>  

            
            <!-- end -->
            <br>
            <h3>Deskripsi</h3>
            <p>{{paket.deskripsi}}</p>

              {{paket.itenerary | safe}}
          
            <h3>Harga paket wisata {{paket.durasi}}</h3>
            <table class="table">
              <thead>
                <tr class="table-secondary">
                  <th scope="col">Jumlah Orang</th>
                  <th scope="col">Tour</th>
                  <th scope="col">Tour + Hotel</th>
                </tr>
              </thead>
              <tbody>
                {% for p in paket.detail_harga.all  %}
                <tr>
                  <td>{{p.jumlah}} Orang</td>
                  <td>{{p.tour}}</td>
                  <td>{{p.tour_hotel}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <br>
            <h2>Include</h2>
              <ul>
                <li>Transportasi</li>
                <li>Driver berpengalaman</li>
                <li>BBM</li>
                <li>Tiket masuk di setiap wisata</li>
                <li>Hotel</li>
                <li>Asuransi</li>
                <li>Air mineral selama perjalanan</li>
                <li>Parkir</li>
              </ul>
              <br>
              <h2>Exclude</h2>
              <ul>
                <li>Tiket pesawat</li>
                <li>Tipping untuk driver</li>
                <li>keperluan pribadi lainnya</li>
              </ul>

              <!-- ketentuan dan cara pemesanan -->

              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" role="tab" aria-current="page" href="#syarat" data-toggle="tab">Syarat /Ketentuan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#cara" role="tab" data-toggle="tab">Cara Pemesanan</a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="syarat">
                  <h4>Syarat</h4>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="cara">
                  <h4>cara</h4>
                </div>
              </div>


            <br>
            <button type="button" class="btn btn-detail-paket" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Pesan paket
            </button>
        </div>  
      </div>
    </div>
    <!-- </div> -->


</div>


  {% include 'subscribe.html' %}

  <div class="container mt-4">
    <h2 class="text-center mt-5 title-paket">Paket Lainnya</h2>

     <!-- card -->
  <div class="row mb-4 mt-3">
    {% for paket_other in paket_other %}
      <div class="col-sm-12 col-md-4 mt-2">
        <div class="card mb-3">
          <a href="{% url '_app:detail' paket_other.slug %}">
          <img src="{{paket_other.poto.url}}" class="card-img-top" alt="..." style="width: 100%; border-top-left-radius: calc(0.25rem - 1px); border-top-right-radius:calc(0.25rem - 1px); height: 200px;" >
          </a>
          <div class="card-body">
            <h5 class="card-title"><strong class="text-capitalize"> Paket wisata {{paket_other.nama_paket}}</strong></h5>
            <span class="fas fa-map-marker-alt"></span>
            Lombok
            <div class="row top-buffer3"></div>
            <span class="far fa-calendar"></span>
            {{paket_other.durasi}}
            <div class="row top-buffer3"></div>
          </div>
        </div>
      </div>
    {% endfor %} 
  </div>
  <!-- endcard -->

  </div>
  
  
  
  
  <!-- modal -->
  <div class="modal fade p-3" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pengisin Data pesanan</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="form-group mb-2">
                      <label for="" class="form-label">Nama</label>
                      <input type="text" class="form-control" required name="nama">
                  </div>
                  <div class="form-group mb-2">
                      <label for="alamat" class="form-label">Alamat</label>
                      <input type="text" class="form-control" required name="alamat">
                  </div>
                  <div class="form-group mb-2">
                      <label for="" class="form-label">No Hp</label>
                      <input type="tel" onkeypress="return Angkasaja(event)" placeholder="NO." class="form-control" required name="nomor_hp">
                  </div>
                  <div class="form-group mb-2">
                      <label for="" class="form-label">Jumlah orang</label>
                      <input type="text" onkeypress="return Angkasaja(event)" class="form-control" required name="jumlah_orang">
                  </div>
                  <div class="form-group mb-2">
                      <label for="" class="form-label">Tanggal penjemputan</label>
                      <input type="date" class="form-control" name="setTodaysDate" required name="tanggal_penjemputan">
                  </div>
                  <button type="Submit" class="btn btn-detail-paket ">Simpan</button>

                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- endModal -->
  
  {% endblock content %}
  