{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide mt-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 400px;" src="{% static 'img/home/kkk.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="height: 400px;" src="{% static 'img/home/renjani.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="height: 400px;" src="{% static 'img/home/renjani1.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
<!-- galeri  -->
    <div class="container mt-5">
        <div class="row">
            <h2 class="text-center mb-2">Galeri petualangan kami</h2>
            <hr>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <img src="{% static 'img/makanan.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <img src="{% static 'img/makanan.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <img src="{% static 'img/makanan.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <img src="{% static 'img/makanan.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <img src="{% static 'img/makanan.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <img src="{% static 'img/makanan.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <img src="{% static 'img/makanan.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <img src="{% static 'img/makanan.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <img src="{% static 'img/makanan.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
            
        </div>
    </div>
{% endblock content %}
    