{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide mt-2" data-bs-ride="carousel">
  <div class="carousel-inner">
      {% for b in banners  %}
        {% with forloop.counter0 as i %}
          <div class="carousel-item {% if i is 0 %}active{% endif %}">
            <img style="height: 400px;" src={{b.image.url}} class="d-block w-100" alt="banner">
          </div>
        {% endwith %}
      {% endfor %}
  </div>
</div>

<div class="form-user">
    <div class="container">
          <div class="row">
            <div class="col-lg-3 my-auto">
               <h3>Cari Paket Apa ?</h3>
            </div>
            <div class="col-lg-9">

              <div class="search-wrap row">
                <form method="POST">
                  {% csrf_token %} 
                  <div class="row">
                    <div class="col-lg-9 col-md-9">
                      <select class="form-select w-100 typ" aria-label="Default select example" name="ktr">
                        <option style="background-color: #040E27;" selected value="0">Semua Kategory</option>
                        
                        {% if kategory %}
                          {% for kateg in kategory %}
                            <option style="background-color: #040E27;" value={{kateg.id}}>{{kateg.nama}}</option>
                          {% endfor %} 
                        {% endif %}
                          
                      </select>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <button class="btn typ w-100 typ-btn">Cari</button>
                    </div>
                  </div>
                </form>

              </div>     
            </div>      
          </div>
      </div>
    </div>
</div>

<div class="container mt-5">
  <div class="header-title text-center ">
    <h2 class="text-center mt-5 title-paket">Paket Wisata</h2>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6">
        <p class="text-center">Pilih paket tour
          sesuai dengan kebutuhan anda,
          Karena kepuasan anda adalah tujuan kami.
         </p>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    {% for paket in paket_tours  %}
      <div class="col-sm-12 col-md-4 mt-2">
        <div class="card mb-3">
          <a href="{% url '_app:detail' paket.slug %}">
            <img src="{{paket.poto.url}}" class="card-img-top" alt="..." style="width: 100%; border-top-left-radius: calc(0.25rem - 1px); border-top-right-radius:calc(0.25rem - 1px); height: 200px;" >
            <button href="#" class="price">{{paket.harga}}</button>
          </a>
          <div class="card-body">
            <h5 class="card-title"><strong class="text-capitalize"> Paket wisata {{paket.nama_paket}}</strong></h5>
            <span class="fas fa-map-marker-alt"></span>
            Lombok
            <div class="row top-buffer3"></div>
            <span class="far fa-calendar"></span>
            {{paket.durasi}}
            <div class="row top-buffer3"></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div> 
  <!--endcard -->

  <!-- elementor -->
  <div class="elementor h-100 mt-5">
    <div class="container">
     <h2 class="text-center">Kenapa memilih kami ?</h2>
     <div class="row">
       <div class="col-12 col-md-4 col-wd mt-2">
         <div class="elementor-icon">
           <i class="fas fa-user-tie fa-sm icon-profesional"  style="padding: 25px 30px;"></i>
         </div>
         <h2 class="icon-title">Profesional</h2>
         <div class="icon-desc">Kami memiliki tim yang berpengalaman di bidang pariwisata</div>
       </div>
       <div class="col-12 col-md-4 mt-2">
        <div class="elementor-icon ">
          <i class="fas fa-user-shield fa-sm icon-terpercaya"></i>
        </div>
        <h2 class="icon-title">Aman dan terpercaya</h2>
        <div class="icon-desc">Keamanan yang lebih kami utamakan, untuk mendapatkan kepercayaan dari clien kami</div>
      </div>
      <div class="col-12 col-md-4 mt-2">
        <div class="elementor-icon">
          <i class="fas fa-luggage-cart fa-sm icon-kemudahan"></i>
        </div>
        <h2 class="icon-title">Kemudahan dalam perjalanan</h2>
        <div class="icon-desc">Kami memberikan kemudahan dalam pelayanan perjalanan wisata anda</div>
      </div>
     </div>
    </div>
   </div>

  <!-- endElementor -->
  <div class="container">
    <div class="header-title text-center mb-5 mt-5">
      <h2 class="text-center title-paket" style="color: #000;">Blog Wisata Lombok</h2>
      <div class="row justify-content-center align-items-center mt-3">
        <div class="col-sm-6">
          <p class="text-center">Artikel Tentang wisata-wisata yang ada di lombok,
            hanya sekedar untuk menambah wawasan pengetahuan tentang wisata lombok
          </p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 mt-2">
      <div class="card card-blog" style="width: 100%; ">
        <div class="card-body">
          <h5 class="card-title">Pantai Kuta Lombok</h5>
          <p class="card-text mt-3">Pantai dengan pasir berwarna putih seperti butiran merica ini terletak di Kawasan Ekonomi Khusus Mandalika di Desa Kuta.<br> Di pantai kuta ini juga tempat di adakannya tradisi tahunan masyarakat lombok, yaitu bau nyale.<br>
          dan pantai kuta juga dekat sekali dengan sirkuit Mandalika.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 mt-2">
      <div class="card card-blog" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Pantai Senggigi</h5>
          <p class="card-text">Pantai senggigi adalah pantai yang terletak di sebelah barat pesisir pulau lombok. dengan pemandangan bawah laut yang sangnat indah membuat banyak wisatawan yang berkunjung kesini betah. dan bisa melakukan selam permukaan. apalagi ombak di pantai ini tidak terlalu besar dan bisa menikami indahnya sunset.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 mt-2">
      <div class="card card-blog" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Gili Trawangan</h5>
          <p class="card-text">Gili trawangan adalah adalah yang terbesar dari ketiga pulau kecil atau gili yang terdapat di sebelah barat laut Lombok. Trawangan punya nuansa "pesta" lebih daripada Gili Meno dan Gili Air.  Aktivitas yang populer dilakukan para wisatawan di Trawangan adalah scuba diving, snorkeling, bermain kayak, dan berselancar</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 mt-2">
      <div class="card card-blog" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Pantai Pink</h5>
          <p class="card-text">Pantai pink adalah sebuah destinasi wisatawan yang menarik dan patut untuk dikunjungi karena keunikannya.[1][2] Pantai ini merupakan salah satu dari tujuh pantai di dunia yang memiliki pasir pantai berwarna pink, dan satu dari dua pantai di Indonesia yang memiliki pasir pantai berwarna pink.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 mt-2">
      <div class="card card-blog" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Bukit merese</h5>
          <p class="card-text"> Adalah bukit yang masih dalam kawasan pantai tanjung aan. bukit ini kita tempuh hanya 7 menit dari tempat parkiran.
            susana pemandangan bisa kita lihat di atas bukit ini, mulai dari sunset dan sunrise.
            dan bukan hanya itu juga, di atas bukit ini kita bisa melihat pantai2 yang ada di sekitar mandalika.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 mt-2">
      <div class="card card-blog" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Pantai Tanjung Aan</h5>
          <p class="card-text">Tanjung Aan merupakan pantai dangkal yang mempunyai garis pantai sepanjang 2 km. Ombaknya cukup tenang dan relatif lebih aman. Aktivitas yang bisa Anda lakukan di pantai Tanjung Aan antara lain bermain air, berjemur menikmati pemandangan, dan bersantai sambil bermain pasir. di tambah dengan dengan penyambutan masyarakatnya yang sangat ramah/p>
        </div>
      </div>
    </div>
  </div>
  

</div>


<!-- testimony -->
{% include 'testimony.html' %}


{% endblock content %}


