{% load  static %}
{% load active_link_tags %}



<div class="header-atas">
  <!-- <div class="container"> -->
    <nav class="navbar navbar-expand-lg bg-default p-0 mt-2">
      <div class="container mt-3">
        <a class="navbar-brand" href="{% url '_app:index' %}" style="color: #fff;">
          <img src="{% static 'img/home/logokunew.png' %}" alt="" width="110">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon icon-top"></span>
          <span class="navbar-toggler-icon icon-middle"></span>
          <span class="navbar-toggler-icon icon-buttom"></span>
        </button>
        <div class="collapse navbar-collapse mt-3" id="navbarNav">
          <ul class="navbar-nav p-0">
            <li class="nav-item align-self-center">
              <a class="nav-link" aria-current="page" href="{% url '_app:index' %}">Home</a>
            </li>
            <li class="nav-item align-self-center">
              <a class="nav-link {% active_link '_app:tentang_kami' 'active'%}" aria-current="page" href="{% url '_app:tentang_kami' %}">Tentang kami</a>
              <div class=" {% active_link '_app:tentang_kami' 'underline'%}"></div>
            </li>
            <li class="nav-item align-self-center">
              <a class="nav-link " aria-current="page" href="{% url '_app:transport' %}">Transportasi</a>
                  <div class="{% active_link '_app:transport' 'underline'%}"></div>
            </li>
            <li class="nav-item align-self-center">
              <a class="nav-link " aria-current="page" href="{% url '_app:galeri' %}">Galeri</a>
              <div class="{% active_link '_app:galeri' 'underline'%}" ></div>
            </li>
            <li class="nav-item align-self-center">
              <a class="nav-link" aria-current="page" href="{% url '_app:kontak' %}">Kontak</a>
              <div class=" {% active_link '_app:kontak' 'underline'%}"></div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- </div> -->
</div>


  