<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div class="container mt-5">
      <div class="header-title text-center mb-5">
        <h1 class="text-center mt-5 ">Tempat Populer</h1>
        <div class="row justify-content-center align-items-center mt-3">
          <div class="col-sm-6">
            <p class="text-center">Update tempat-tempat wisata populer yang ada di pulau lombok
             </p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="row mb-4">
        {% for p in populers  %}
          <div class="col-sm-12 col-md-4 mt-2">
            <div class="card mb-3">
              <img src="{{p.poto.url}}" class="card-img-top" alt="..." style="width: 100%; border-top-left-radius: calc(0.25rem - 1px); border-top-right-radius:calc(0.25rem - 1px); height: 200px;" >
                <div class="card-body">
                <h5 class="card-title"><strong class="text-capitalize">{{p.nama}}</strong></h5>
                <span class="fas fa-map-marker-alt"></span>
                Lombok
                <div class="row top-buffer3"></div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</body>
</html>