{% extends 'base.html' %}
{% load static %}


{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide mt-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 400px;" src="{% static 'img/home/kkk.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="height: 400px;" src="{% static 'img/home/renjani.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="height: 400px;" src="{% static 'img/home/renjani1.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="container">
      <h2 class="text-center mt-5 title-paket">Tentang kami</h2>
      <div class="garis mx-auto mb-3"></div>
      <p> 'SHAKA TOUR' adalah salah satu dari sedikit perusahaan di indonesia yang memperoleh keahlian dalam penyesuaian tour dan menciptakan hal yang sama dengan pendekatan pribadi.</p>
        <p>Berdasarkan pengetahuan tangan pertama kami yang luas tentang wisata Lombok, kami berdedikasi untuk menyediakan paket tour yang fleksibel dan dapat disesuaikan dengan layanan yang dipersonalisasi yang memenuhi kebutuhan dan anggaran Anda.</p><p>Karena kami telah banyak bepergian ke seluruh tempat-tempat wisata, kami dapat berbagi banyak tentang tujuan wisata lombok manapun yang Anda minati dan kami dapat menulis program individu yang unik untuk Anda. </p> 
        <p>Keahlian kami akan memastikan ketenangan pikiran Anda untuk perjalanan yang aman dan berkesan.</p> 
        <p>Silakan telepon atau email kami untuk membuat janji sehingga kami dapat membantu Anda melakukan perjalanan yang sempurna dari awal hingga akhir.</p> 
  </div>

{% endblock content %}
