{% load static %}


<div id="testy">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <!-- star -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
         
          <div class="carousel-inner">
            
            {% for testy in testy %}
              {% with forloop.counter0 as i %}
                <div class="carousel-item {% if i is 0 %}active{% endif %}">
                  <div class="thumb">
                    <img src="{{testy.poto.url}}" class="d-block mx-auto rounded-circle center" alt="{{testy.nama}}">
                    <div class="text-center coment mt-3">
                      <p>{{testy.komentar}}</p>
                    </div>
                    <div class="user text-center">
                        <h4>-{{testy.nama}}</h4>

                    </div>
                  </div>
                </div>      
              {% endwith %}
            {% endfor %}
              
          </div>
         
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- end -->
      </div>
    </div>
  
  </div>
</div>