{% extends 'base.html' %}
{% load static %}



{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide mt-2" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height: 400px;" src="{% static 'img/home/kkk.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height: 400px;" src="{% static 'img/home/renjani.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height: 400px;" src="{% static 'img/home/renjani1.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<!-- transport -->
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2 class="title-paket mt-3">Daftar Tarip transportasi</h2>
        </div>
        <div class="card-body">
          <table class="table">
              <thead class="thead-dark">
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">PENJEMEPUTAN</th>
                      <th scope="col">TUJUAN</th>
                      <th scope="col">TARIP</th>
                    </tr>
              </thead>
              <tbody>

                {% for paket in paket_transport  %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>Bandara</td>
                    <td>{{paket.nama_tujuan}}</td>
                    <td>Rp. {{paket.harga}}/1-3 Orang</td>
                  </tr>
                {% endfor %}

              </tbody>
          </table>
        </div>
      </div>





    </div>
{% endblock content %}
